{% extends "base.html" %}

{% block title %}Về chúng tôi {% endblock %}

{% block content %}

<body class="min-h-screen bg-base-200">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Về Dự án Dự đoán Thu nhập</h1>
        <p class="text-lg mb-6">
            Ứng dụng Dự đoán Thu nhập là một dự án nghiên cứu và phát triển nhằm cung cấp một công cụ trực tuyến giúp
            người dùng
            dự đoán mức thu nhập cá nhân dựa trên các đặc điểm cá nhân và xã hội. Dự án sử dụng các kỹ thuật học máy
            tiên tiến
            để xây dựng mô hình dự đoán chính xác và đáng tin cậy.
        </p>
    </div>
</body>
{% endblock %}